.ipynb_checkpoints
.DS_Store
Week1_discussion_v1.ipynb
p1_start.ipynb
Notes
Week3_Discussion.ipynb
gplus
.vscode
.idea
__pycache__
*.pyc
Project_3/\.idea/
*.pyc
Project_4/project4_data
Project_4/.env/
requirements.txt

Project_4/data/
